.header {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: 3.5em;
    align-items: center;
  }
  &__logo {
    margin-left: 1.65vw;
  }
  &__title {
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    margin: 0 0.5em;
  }
  &__facebook {
    color: white;
    text-decoration: none;
    justify-self: end;
    margin-right: 1.65vw;
  }
  &__facebook__logo {
    margin: 0 0.5em;
  }
}