<header class="header__wrapper">
  <a class="header__logo" href="/"><img src="assets/img/wystaw-smieci-logo-small.png" width="30" height="39" alt="Wystaw śmieci logo"></a>
  <h1 class="header__title">
    Wystaw śmieci - Zielonka
  </h1>
  <a class="header__facebook" href="https://www.facebook.com/ZielonkaWystawSmieci/">
    <button mat-button>
      <img class="header__facebook__logo" src="assets/img/facebook-logo-small.png" width="24" height="24" alt="Fanpage logo">
      Facebook
    </button>
  </a>
</header>
