@import "~variables.scss";

.wrapper {
  min-height: 100vh;
  display: grid;
  align-items: center;  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 5.5em max-content 1em 1fr auto;
  grid-template-areas:  "header header"
                        "sectors toggle"
                        "description description" 
                        "down-divider down-divider"
                        "calendar calendar"
                        "footer footer";
  @include respond-min($header-collapse) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content 7em 1em 1fr auto;
    grid-template-areas:  "header header header"
                          "sectors description toggle"
                          "down-divider down-divider down-divider"
                          "calendar calendar calendar"
                          "footer footer footer";
  }
}

.header {
  grid-area: header;
  color: white;
  background: $primary-color-dark;
  overflow: hidden;
}

.sectors {
  grid-area: sectors;
  justify-self: start;
  align-self: end;
  @include respond-min($header-collapse) {
    align-self: center;
  }
}

.description {
  grid-area: description;
}

.toggle {
  grid-area: toggle;
  justify-self: end;
}

.down-divider {
  grid-area: down-divider;
  align-self: center;
}

.calendar {
  grid-area: calendar;
  align-self: start;
}

.footer {
  grid-area: footer;
  color: white;
  background: $primary-color-dark;
  align-self: end;
}

// Overriding cookie law component styles
::ng-deep .cookie-law-component .cookie-law {
  .cookie-law-wrapper {
    font-family: 'Roboto', sans-serif; 
    background: rgba($primary-color-dark, 0.9);
  }

  .cookie-law-wrapper .copy span {
    font-size: 0.9em;
  }
  .cookie-law-wrapper .dismiss svg {
    fill: $divider-color;
  }
}
