@import "~variables.scss";

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 7em 1em 1fr auto;
  align-items: center;
  grid-template-areas:  "header header header"
                        "sectors description toggle"
                        "down-divider down-divider down-divider"
                        "calendar calendar calendar"
                        "footer footer footer";
}

.header {
  grid-area: header;
  color: white;
  background: $primary-color-dark;
}

.sectors {
  grid-area: sectors;
}

.description {
  grid-area: description;
}

.toggle {
  grid-area: toggle;
}

.down-divider {
  grid-area: down-divider;
  align-self: center;
}

.calendar {
  grid-area: calendar;
  align-self: start;
}

.footer {
  grid-area: footer;
  color: white;
  background: $primary-color-dark;
  align-self: end;
}