<div class="calendar__header__buttons">
  <button mat-raised-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
    Poprzedni
  </button>
  <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
    Dziś
  </button>
  <button mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
    Następny
  </button>
</div>
<div class="calendar__header__nearest">
  <h4 class="calendar__header__title">Najbliższy odbiór w wybranym sektorze</h4>
  <h3 class="calendar__header__date">{{ viewDate | date:'fullDate':'':locale }} (Segregowalne)</h3>
</div>