@import "~variables.scss";

.calendar__header {
  &__buttons {
    justify-self: center;
    margin: 0 1.65vw;
    @include respond-to($calendar-header-buttons) {
      justify-self: start;
    }
  }
  &__nearest {
    text-align: center;
    justify-self: center;
    margin: 0 1.65vw;
    @include respond-to($calendar-header-buttons) {
      justify-self: end;
    }
    @include respond-to($calendar-header) {
      justify-self: center;
      margin: 0;
    }
  }
  &__date::first-letter {
    text-transform: capitalize;
  }
  &__title, &__date {
    margin: 0.5em;
    font-weight: 500;
  }
  &__title {
    color: $secondary-text-color;
  }
}
