@import "~variables.scss";

.description {
  &__text {
    text-align: center;
  }
  &__title {
    margin: 0.8em 0.5em 0.5em 0.5em;
  }
  &__boundary {
    color: $secondary-text-color;
    margin: 0.5em;
  }
  &__nearest {
    margin: 0.8em;
    font-weight: 500;
    white-space: nowrap;
    &--date {
      color: #cc0000;
      font-weight: 400;
      font-size: 0.9em;
    }
  }
  &__aria-status {
    position: absolute;
    top: -500px;
  }
}