/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-calendar/css/angular-calendar.css";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

// Overriding calendar styles
.cal-month-view .cal-day-cell.cal-today {
  background-color: #C5CAE9;
}

.cal-month-view .cal-day-number {
  opacity: 0.6;
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.2;
}

// Overriding material button font size
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  font-size: 0.9em;
}

.mat-slide-toggle-content {
  font-size: 0.9em;
}