/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-calendar/css/angular-calendar.css";
@import "~variables.scss";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 320px;
  color: $primary-text-color;
}

// Overriding calendar styles
.cal-month-view .cal-day-cell.cal-today {
  background-color: #ffefef;
  &:hover {
    background-color: #ffefef;
  }
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: auto;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

.cal-cell-top {
  text-align: center;
  @include respond-min($calendar-cell-icons) {
    text-align: left;
  }
}

.cal-month-view .cal-day-number {
  opacity: 0.6;
  margin-top: 4%;
  margin-right: 4%;
  display: inline-block;
  float: none;
  @include respond-min($calendar-cell-icons) {
    display: inline;
    float: right;
  }
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.2;
  margin-top: 4%;
  margin-right: 4%;
}

.cal-month-view .cal-cell-row:hover {
  background-color: inherit;
}

.cal-month-view .cal-cell-row .cal-cell:hover:not(.cal-today) {
  background-color: inherit;
}

.cal-month-view .cal-header {
  height: 2.2em;
}

.cal-month-view .cal-header .cal-cell:hover {
  background-color: inherit;  
}

.cal-out-month .cal-cell-top .calendar__icon {
  opacity: 0.2;
}

// Overriding material button font size
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  font-size: 0.9em;
}

.mat-slide-toggle-content {
  font-size: 0.9em;
}

.mat-form-field-infix {
  width: auto !important;
  max-width: 180px;
}