// Colors
$primary-color-dark : #303F9F;
$primary-color : #3F51B5;
$primary-color-light : #C5CAE9;
$primary-color-text : #FFFFFF;
$accent-color : #E040FB;
$primary-text-color : #212121;
$secondary-text-color: #595959;
$divider-color : #BDBDBD;
$toggle-main: rgb(76, 175, 80);
$toggle-second: rgba(76, 175, 80, 0.5);

// Breakpoints
$calendar-header: 64em; // 1024px
$header-collapse: 48em; // 768px
$calendar-header-buttons: 42em; // 672px
$calendar-cell-icons: 31.250em; // 500px

// Media queries
@mixin respond-min($resolution) {
  @media (min-width: #{$resolution}) {
    @content;
  }
}

@mixin respond-max($resolution) {
  @media (max-width: #{$resolution}) {
    @content;
  }
}
