// Colors
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #E040FB;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Breakpoints
$calendar-header: '(min-width: 64em)'; // 1024px
$header-collapse: '(min-width: 48em)'; // 768px
$calendar-header-buttons: '(min-width: 42em)'; // 672px

// Media queries
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}