@import "~variables.scss";

.calendar__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em max-content;
  align-items: center;
  justify-items: center;
  @include respond-min($calendar-header-buttons) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }
  @include respond-min($calendar-header) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
  }
}

.calendar__devider {
  margin: 0.4em 0;
}

.calendar__day {
  padding: 0.5em;
  border-radius: 50%;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  &--green {
    background: rgba(0, 128, 0, 0.5);
  }
  &--blue {
    background: rgba(0, 0, 255, 0.5);
  }
  &--gold {
    background: rgba(255, 217, 0, 0.5);
  }
}

.calendar__icon {
  padding: 4%;
  width: 2em;
  height: 2em;
}